<html>
    <head>
        <title>Addquiz</title>
    </head>

    <body>
        <h1>Add Quiz</h1>
        <form method="POST" action="/addquiz">
            <input type="text" name="quiz" placeholder="Enter your quiz"><br><br>
            <input type="radio" name="ans" value="True">True<br>
            <input type="radio" name="ans" value="False">False<br><br>
            <input type="submit" value="Add quiz">
            {% csrf_token %}
        </form>

        <br>

        <a href="/">Home</a>
    </body>
</html>
